﻿<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<canvas id="myCanvas"></canvas>
<script>
var url = window.location.protocol + '//' + window.location.hostname + '/pr/include';
function CreateImageForMyHome(Area, Price, Room, Phone, District, ImageLogo, ImageData, fn) {
	var districtMarginLeft = 0;
	District = District == null ? '' : District;
	if($.trim(District) != '')
		districtMarginLeft = ((21-District.length)/2) * 12;
	var canvas = document.getElementById("myCanvas");
	canvas.width = 550;
	canvas.height = 550;
	var ctx = canvas.getContext("2d");
	var logo = new Image();
	logo.src = ImageLogo;
	var img = new Image();
	img.src = ImageData;
	img.onload = function(){
		ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
		ctx.fillStyle = "rgba(255, 255, 255, 0.8)";
		ctx.fillRect(0,0,canvas.width / 2, canvas.height);
		ctx.drawImage(logo, 25, 20, 70, 70);
		ctx.fillStyle = "#000000";
		ctx.font = "25pt serif";
		ctx.fillText("продается", 100, 60);
		ctx.fillStyle = "#0713a3";
		ctx.font = "bold 170px serif";
		ctx.fillText(Room, 10, 230);
		ctx.fillStyle = "#000000";
		ctx.font = "35px serif";
		ctx.fillText("комнатная", 100, 135);
		ctx.fillText("квартира", 100, 180);
		ctx.fillText(Area+' м2', 100, 230);
		ctx.fillStyle = "#000000";
		ctx.font = "bold 25px serif";
		ctx.fillText(District, districtMarginLeft, 290);
		var rectX = 12;
		var rectY = 400;
		var rectWidth = 250;
		var rectHeight = 50;
		var cornerRadius = 50;
		ctx.lineJoin = "round";
		ctx.lineWidth = cornerRadius;
		ctx.fillStyle = "red";
		ctx.strokeStyle = "red";
		ctx.strokeRect(rectX+(cornerRadius/2), rectY+(cornerRadius/2), rectWidth-cornerRadius, rectHeight-cornerRadius);
		ctx.fillRect(rectX+(cornerRadius/2), rectY+(cornerRadius/2), rectWidth-cornerRadius, rectHeight-cornerRadius);
		ctx.font = "bold 35px serif";
		ctx.fillStyle = "#ffffff";
		ctx.fillText(Price, 80, 440);
		ctx.font = "bold 20px serif";
		ctx.fillStyle = "#ffffff";
		ctx.fillText('$', 200, 430);
		ctx.font = "bold 35px serif";
		ctx.fillStyle = "#000000";
		ctx.fillText(Phone, 35, 530);
		fn(canvas.toDataURL());
	}
}

function Start()
{
	$.post(url+'/app.php', {Method: 'GetLogo'}, function(resultLogo){
		var logo = JSON.parse(resultLogo).Data;
		$.post(url+'/app.php', {Method: 'GetPosts'}, function(postList){
			var result = JSON.parse(postList).Data;
			for(var i = 0; i <= result.length - 1; i++)
			{
				var Id = result[i].Id;
				$.post(url+'/app.php', {Method: 'GetPostData', Id: Id }, function(postData){
					var row = JSON.parse(postData).Data;
					if(row.PostParams.Price.length == 6)
						row.PostParams.Price = '  '+row.PostParams.Price;
					CreateImageForMyHome(row.PostParams.Area, row.PostParams.Price, row.PostParams.Rooms, 
						row.PostParams.Phone, row.PostParams.District, logo, row.PostParams.image_data, function(imageData){
						$.post(url+'/app.php', {Method: 'CreateImage', post_id: row.PostData.post_id, meta_id: row.PostData.meta_id, 
							meta_value: row.PostData.meta_value, image_data: imageData, image_original_path: row.PostParams.image_original_path}, function(res){
							console.log(res);
						});
					});
				});
			}
		});
	});
}

Start();
/*
CreateImageForMyHome('70', '125 000', '5',  '0 555 123 456', 'ЦУМ', 'http://myhome.dev.kg/wp-content/themes/myhomekg/images/logo.png', 
	'http://myhome.dev.kg/wp-content/uploads/2021/01/01f96183-dbf3-4124-947b-17cc4fe6346a-640x480.jpg', function(imageData){

});
*/
</script>