<div class="container">
    <div class="jumbotron" id="headerPanel" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-md-8">
                <p class="text-left" style="font-size: 15px;" id="UserName"></p>
            </div>
            <div class="col-md-4">
                <p class="text-right" style="font-size: 15px;">
                    <a href="#" id="btnLogOut">Выход</a>
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="admin">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            Добавить ссылку
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input type="text" class="form-control" id="siteUrl"
                                    placeholder="Введите адрес сайта...">
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <select class="form-control" id="linkType">
                                    <option value="1">Продам</option>
                                    <option value="2">Аренда</option>
                                </select>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <div class="input-group">
                                    <select class="form-control" id="siteId">
                                        <option value="0">-----Выбрать-----</option>
                                        <option value="1">Лалафо</option>
                                        <option value="2">VB</option>
                                        <option value="3">Stroka</option>
                                        <option value="4">Doska</option>
                                        <option value="5">House</option>
                                        <option value="6">Bazar</option>
                                        <option value="7">Krysha</option>
                                        <option value="8">Domik</option>
                                        <option value="9">Diesel</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="btnAddSite">Добавить</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-12">
                                <div id="SiteResult"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading" role="tab" id="heading2">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true"
                            aria-controls="collapse2">
                            Список АН
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                        <div class="row" style="padding: 10px;">
                            <button class="btn btn-default" type="button" id="btnAgencyPhone">Номера АН</button>
                            <button class="btn btn-default" type="button" id="btnAgencyLogin">Логины АН</button>
                            <a href="/pr/include/app.php?Method=AgencyExportToExcel&AgencyType=AgencyPhone" class="btn btn-default" type="button">Экспорт номера АН</a>
                            <a href="/pr/include/app.php?Method=AgencyExportToExcel&AgencyType=AgencyLogin" class="btn btn-default" type="button">Экспорт логины АН</a>
                            <a href="#" class="btn btn-default disabled" type="button">Импорт номера АН</a>
                            <a href="#" class="btn btn-default disabled" type="button">Импорт логины АН</a>
                            <div id="AgencyList" style="margin-top: 25px;"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading" role="tab" id="heading3">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true"
                            aria-controls="collapse3">
                            Список номеров собственников
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                        <div class="row" style="padding: 10px;">
                            <form action="/pr/include/app.php" method="get">
                                <input type="hidden" name="Method" value="ExportPhoneNumbersToExcel" />
                                <div class="col-xs-2 col-md-2"><input id="dateBegPhoneNumber" name="dateBegPhoneNumber" readonly='true' /></div>
                                <div class="col-xs-2 col-md-2"><input id="dateEndPhoneNumber" name="dateEndPhoneNumber" readonly='true' /></div>
                                <div class="col-xs-2 col-md-2">
                                    <input type="submit" value="Экспортировать" class="btn btn-default" type="button" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="filter">
        <div class="row">
            <div class="col-xs-2 col-md-2"><input id="dateBeg" placeholder="Дата с" readonly='true' /></div>
            <div class="col-xs-2 col-md-2"><input id="dateEnd" placeholder="Дата по" readonly='true' /></div>
            <div class="col-xs-2 col-md-2">
                <select class="form-control" id="filterLinkType">
                    <option value="1">Продам</option>
                    <option value="2">Аренда</option>
                </select>
            </div>
            <div class="col-xs-3 col-md-3">
                <select class="form-control" id="filterStatus">
                    <option value="0">-----Все-----</option>
                    <option value="1">АН</option>
                    <option value="2">НЛ</option>
                    <option value="3">Новый</option>
                    <option value="4">Неактивные</option>
                </select>
            </div>
            <div class="col-xs-3 col-md-3">
                <div class="input-group">
                    <select class="form-control" id="filterType">
                        <option value="0">-----Все-----</option>
                        <option value="1">Лалафо</option>
                        <option value="2">VB</option>
                        <option value="3">Stroka</option>
                        <option value="4">Doska</option>
                        <option value="5">House</option>
                        <option value="6">Bazar</option>
                        <option value="7">Krysha</option>
                        <option value="8">Domik</option>
                        <option value="9">Diesel</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btnSearch">Поиск</button>
                        <button class="btn btn-default" type="button" id="btnReport">Рейтинг</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" id="index">
        <div id="Result"></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="myModalLabel">Описания</p>
            </div>
            <div class="modal-body" id="Description"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="../pr/include/js/app.js?v=9.22"></script>