﻿<div class="loginForm">
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="email" class="form-control" id="UserLogin">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="UserPassword">
    </div>
    <button type="button" class="btn btn-success" id="btnLogin">Войти</button>
    <button type="button" class="btn btn-info" style="display: none;">Регистрация</button>
</div>
<script src="../pr/include/js/app.js"></script>