﻿.loginForm {
    margin: auto;
    margin-top: 15%;
    width: 25%;
    border: 1px solid #e7e4e4;
    padding: 10px;
}

#loading{
    margin-top: 10%;
    padding: 10px;
}

#loading img{
    width: 200px;
}

#index{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#filter, #headerPanel, #admin{
	padding: 15px;
	font-size: 10%;
}

table{
    font-size: 13px;
}

.container{
    width: 98%;
}

#addmyhome{
    color: #1ada1a;
}

#agency {
    color: red;
}

#expensive{
    color: #cc870f;
}

.jumbotron{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    cursor: pointer;
}

#admin{
    display: none;
}

#dateBeg, #dateEnd{
    background: white;
}

.input-group-addon{
    background: white;
}

table.fixedHeader-floating{position:fixed !important;background-color:white}table.fixedHeader-floating.no-footer{border-bottom-width:0}table.fixedHeader-locked{position:absolute !important;background-color:white}@media print{table.fixedHeader-floating{display:none}}